<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Email Inválido</title>
    <meta http-equiv="refresh" content="3; URL='http://localhost:3000/'"/>
</head>
<body>
    <div style="border: 0; display: flex; align-items: center; justify-content: center; background-color: rgb(240, 240, 240); height: 100vh;">
        <div style="padding: 20px; display: flex; align-items: center; justify-content: center; background-color: rgb(219, 56, 56); height: 30vh; width: 50vw; border-radius: 20px;">
            <h2 style="font-size: 30px; color: white;"> Erro ao enviar o email: Destinatário inexistente.</h2>
        </div>
    </div>
</body>
</html>