<%- include('template/head.ejs') %>
<body>
    <%- include('template/sidebar.ejs') %>
    <div class="container">
        <div class="d-flex justify-content-center justify-content-md-start mb-5">
            <div>
                <button type="button" class="btn-send-email" data-bs-toggle="modal" data-bs-target="#modalsend">
                    Enviar
                </button>
            </div>
            <div class="ms-3">
                <button type="button" class="btn-delete-email">
                    Apagar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="emails-block p-4 ms-1">
                <div class="col-12">
                    <div class="row">
                        <div class="col-7">
                            <div class="d-flex">
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </div>
                                <div class="ms-2">Assunto</div>
                            </div>
                        </div>
                        <div class="col-5 text-end">
                            <div>Data/Hora</div>
                        </div>
                        <hr class="mt-3">
                    </div>
                    
                    <div class="email-info">
                        <div class="row">
                            <div class="col-7">
                                <div class="d-flex">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <div class=""> ASSUNTO IMPORTANTE SR ANDREWS </div>
                                </div>
                            </div>
                            <div class="col-5 text-end">
                                <div> 20/08/2000 </div>
                            </div>
                            <hr class="mt-3">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        </div>

    </div>
    <div class="modal fade" id="modalsend" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enviar email</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="to_email" class="form-label">Destinatário</label>
                            <input type="email" class="form-control" id="to_email">
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label">Assunto</label>
                            <input type="email" class="form-control" id="subject">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Mensagem</label>
                            <textarea class="form-control" id="message"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn-send-email">Submit</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
<%- include('template/footer.ejs') %>
