<%- include('template/head.ejs') %>
<body>
    <div>
        </h1>Hello World!</h1>
        <a class="btn btn-success"> Botão do Bootstrap </a>
    </div>
</body>
<%- include('template/footer.ejs') %>
