.register{
    height: 100vh;
    background-color: #ededee;
    display: flex;
    align-items: center;
}

.form-block{
    background-color: #ffffff;
    border-radius: 10px;
}

.form-register-link{
    color: #000;
    text-decoration: none;
}

.form-register-submit{
    border-radius: 5px;
    border: 1px solid #f6f6f6;
    background-color: #FF5000;
    color: #ffffff;
    padding: 5px 50px;
}