<!-- BotStrap CND -->

<script>
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
crossorigin="anonymous"
</script>

<!-- custom js -->

<script>
var menu_btn = document.querySelector("#menu-btn");
var sidebar = document.querySelector("#sidebar");
var container = document.querySelector(".my-container");
menu_btn.addEventListener("click", () => {
sidebar.classList.toggle("active-nav");
container.classList.toggle("active-cont");
});
</script>


</body>

</html>

<!-- Socket.IO CDN-->
<!-- <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

<script>
    const socket = io('http://localhost:3000'); // Conectando com o servidor
    
    socket.on('showMsg', data => {
        let chat = document.getElementById('chat')
        let p = document.createElement('p')
        p.innerHTML = data.username + ': ' + data.msg
        chat.append(p)
    })

    function enviar() {
        let msg = document.getElementById('msg').value
        let username = document.getElementById('username').value

        socket.emit('msg', {msg, username})
    }


</script>

</html> -->