<!-- BotStrap CND -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
crossorigin="anonymous"></script>


<!-- Socket.IO CDN-->
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

<!-- custom js -->

<script>

var menu_btn = document.querySelector("#menu-btn");
var sidebar = document.querySelector("#sidebar");
var container = document.querySelector(".my-container");
menu_btn.addEventListener("click", () => {
    sidebar.classList.toggle("active-nav");
    container.classList.toggle("active-cont");
});

const userId = "<%= userid %>";

const socket = io('http://localhost:3000', {
    reconnection: true,
    reconnectionDelay: 1000,
    reconnectionDelayMax: 5000,
    reconnectionAttempts: 99999,
    transports: ['websocket']
}); // Conectando com o servidor

    socket.on('connect', () => {
        // console.log('connected')

        socket.emit('subscribe', userId);
    });

    socket.on('newEmail', (email) => {
        console.log('email', email)
    })
  

// function enviar() {
//     let msg = document.getElementById('msg').value
//     let username = document.getElementById('username').value

//     socket.emit('msg', {msg, username})
// }


</script>
</body>

</html>

</html>