<div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
        <a href="#" class="nav-link h3 text-white my-2">
            BoxMail
        </a>
        <li class="nav-link sidebar-link pl-0">
            <a href="#" class="mx-2">
                <span class="pr-2">
                    <i class="fas fa-home icon-mail-nav"></i>
                </span>
                <span class="pl-2">
                    Home
                </span>
            </a>
        </li>
        <li class="nav-link sidebar-link pl-0">
            <a href="#" class="mx-2">
                <span class="pr-2">
                    <i class="fas fa-inbox icon-mail-nav"></i>
                </span>
                <span class="pl-2">
                    Inbox
                </span>
            </a>
        </li>
        <li class="nav-link sidebar-link pl-0">
            <a href="#" class="mx-2">
                <span>
                    <i class="fas fa-trash icon-mail-nav"></i>
                </span>
                <span>
                    Trash
                </span>
            </a>
        </li>
        <li class="nav-link sidebar-link-person pl-0">
            <div class="ms-3">
                <span>
                    <i class="fas fa-user"></i>
                </span>
                <span class="ms-2"> Andrews Dutra </span>
            </div>
        </li>
        <li class="nav-link sidebar-link-logout pl-0">
            <a href="/logout" class="ms-3">
                <span>
                    <i class="fas fa-sign-out-alt"></i>
                </span>
                <span class="ms-2"> Sair </span>
            </a>
        </li>
    </ul>
</div>

<!-- Main Wrapper -->
<div class="p-1 my-container active-cont">
    <!-- Top Nav -->
    <nav class="navbar top-navbar navbar-light px-5">
        <a class="btn border-0" id="menu-btn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</div>